<!-- Load dependencies -->
<% include parts/dependencies.ejs %>
<!-- Load navbar -->
<% include parts/navbar.ejs %>

<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <!-- Load sidebar -->
    <% include parts/sidebar.ejs %>

    <!-- begin content here -->

  </div>
</div>
