<!-- Load dependencies -->
<% include parts/dependencies.ejs %>
<!-- Load navbar -->

<div id="wrapper">

<!-- Navigation -->
  <% include parts/navbar.ejs %>
  <div id="page-wrapper">
    <div class="container-fluid">

<!-- Page Heading -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Overview
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <h2 class="col-heading">Active Tasks</h2>
          <!-- TODO :: Pass all of the tasks and projects to the page -->
          <% for (var i = 0; i < tasks.length; i++) { %>
            <div class="task">
              <div class="title">
                <%= tasks[i].name %>
              </div>
              <div class="body">
                <%= tasks[i].note %>
              </div>
            </div>

            <br />
          <% } %>

        </div>
        <div class="col-lg-6">
          <h2>Active Projects</h2>

        </div>
      </div>
<!-- /.row -->

    </div>
<!-- /.container-fluid -->

  </div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
