<!-- Latest compiled and minified CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link href="/styles/login.css" rel="stylesheet">
<script src="/js/pages/signup.js"></script>
<div class="container">
    <div class="row header">
      <div class="col-lg-12">
        <h1>Sign Up</h1>
      </div>
    </div>
    <div class="row body">
      <div class="col-lg-12">
        <form>
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input class="form-control" id="firstName" placeholder="John" type="text">
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input class="form-control" id="lastName" placeholder="Smith" type="text">
          </div>
          <div class="form-group">
            <label for="email">Email address</label>
            <input class="form-control" id="email" placeholder="johnsmith@example.com" type="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" id="password" placeholder="Password" type="password">
          </div>
          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label>
            <input class="form-control" id="passwordConfirmation" placeholder="Password" type="password">
          </div>
          <a id="submit" class="btn btn-default">Create Account</a>
        </form>
      </div>
    </div>
</div>
