body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

.navbar {
  background-color: #fff;
  color: #294F6D;
  margin-top: 15px;
}

.navbar-default .navbar-nav > li .dark {
  color: #fff;
  background: #294F6D;
  border-radius: 0px;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
}

.navbar-default .navbar-nav > li .dark:hover {
  color: #294F6D;
  background: #fff;
  border-radius: 0px;
  border-color: #294F6D;
  border-style: solid;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: #294F6D;
  background: #fff;
  border-radius: 0px;
  border-color: #294F6D;
  border-style: solid;
  border-width: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background: #294F6D;
  border-radius: 0px;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
}

.navbar-default {
  background-color: #fff;
  color: #294F6D;
  border-style: none;
  border-color: #fff;
}

.navbar-default .navbar-brand {
  color: #294F6D;
  font-size: 25px;
}

.hero {
  margin-top: 150px;
  text-align: center;
  margin-bottom: 150px;
}

.hero h1 {
  color: #294F6D;
  font-weight: 400;
  font-size: 45px;
}

.hero h2 {
  color: #000;
  font-weight: 300;
  font-size: 23px;
}

.hero .btn-blue {
  margin-top: 25px;
  color: #294F6D;
  background: #fff;
  border-radius: 0px;
  border-color: #294F6D;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
}

.hero .btn-blue:hover {
  margin-top: 25px;
  color: #fff;
  background: #294F6D;
  border-radius: 0px;
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  font-size: 20px;
}

.feature {
  padding-top: 50px;
  padding-bottom: 100px;
}

.feature .title {
  text-align: center;
}

.feature .title h1 {
  text-align: center;
}

.feature .content {
  text-align: left;
}

.feature .content .col-title h1 {
  font-size: 24px;
}

.feature .content .col-content p {
  font-size: 16px;
}

.feature-grey .content .col-content p {
  color: #000;
}

.feature-grey {
  background-color: #ede7e7;
  color: #294F6D;
}

.feature-grey .title h1 {
  color: #294F6D;
}

.feature-blue {
  background-color: #294F6D;
}

.feature-blue .title h1 {
  color: #fff;
}

.feature-blue .content {
  color: #fff;
  margin-top: 40px;
}

.feature-blue .content p {
  font-size: 18px;
}

.feature-blue .content blockquote {
  border-left-color: #fff;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

footer {
  background-color: #fff;
  text-align: center;
  color: #294F6D;
  padding-top: 10px;
  padding-bottom: 10px
}
